__AHB__
haddr  , logic , 32 , output ,// AHB - {{}} HADDR
hwdata , logic , 32 , output ,// AHB - {{}} HWDATA
hrdata , logic , 32 , input  ,// AHB - {{}} HRDATA
hwrite , logic , 1  , output ,// AHB - {{}} HWRITE
htrans , logic , 2  , output ,// AHB - {{}} HTRANS
hsize  , logic , 3  , output ,// AHB - {{}} HSIZE
hburst , logic , 3  , output ,// AHB - {{}} HBURST
hresp  , logic , 2  , input  ,// AHB - {{}} HRESP
hready , logic , 1  , input  ,// AHB - {{}} HREADYOUT
hsel   , logic , 1  , output ,// AHB - {{}} HSEL