__GPIO__
gpi , logic , gpio_w , input  , master ,// GPIO input
gpo , logic , gpio_w , output , master ,// GPIO output
gpd , logic , gpio_w , output , master ,// GPIO direction