__SDRAM__
SDRAM_ADDR  , logic , R_S , output ,// SDRAM ADDR
SDRAM_BA    , logic , B_S , output ,// SDRAM BA
SDRAM_CAS_N , logic , 1   , output ,// SDRAM CAS_N
SDRAM_CKE   , logic , 1   , output ,// SDRAM CKE
SDRAM_CLK   , logic , 1   , output ,// SDRAM CLK
SDRAM_CS_N  , logic , 1   , output ,// SDRAM CS_N
SDRAM_DQ    , wire  , D_S , inout  ,// SDRAM DQ
SDRAM_DQM   , logic , 2   , output ,// SDRAM DQM
SDRAM_RAS_N , logic , 1   , output ,// SDRAM RAS_N
SDRAM_WE_N  , logic , 1   , output ,// SDRAM WE_N