__SIMPLE_MEMORY__
addr    , logic , 32 , output ,// address {{}} memory
rd      , logic , 32 , input  ,// read {{}} memory
wd      , logic , 32 , output ,// write {{}} memory
we      , logic , 1  , output ,// write enable {{}} memory signal
req     , logic , 1  , output ,// request {{}} memory signal
req_ack , logic , 1  , input  ,// request acknowledge {{}} memory signal